.btn btn-default btn-sm {
     position:absolute;
    right:1;
    top:0;
    border: transparent;
}
/* Logo area */
  .logo {
    position:absolute;
    left:1;
    top:0;
    border: transparent;
       
}
